/* .canvas {
  width: 871px;
  height: 600px;
  align-self: center;
} */

.score {
  position: absolute;
}

.bigbox {
  position: relative;
  width: 300px;
  height: 200px;
  top: 360px;
  left: 285px;
  background: white;
  text-align: center;
  padding: 14px;
}

.column {
  float: left;
}

.left,
.right {
  width: 20%;
  height: 100;
}

.middle {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .left,
  .right,
  .middle {
    width: 100%;
  }
}

h2,
p,
h3 {
  text-align: center;
}

#scoreText,
#scoreNum {
  color: white;
}
